:root {
  --background: #ffffff;
  --textcolor: #012970;
  --primary: #4154f1;
  --primaryfouce: #5969f3;
  --headingText: #929296;
  --btnBg: #4154f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background);
}

a {
  color: #4154f1;
  text-decoration: none !important;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

/* ---------------- header -------------------- */

#header {
  width: 100%;
  padding: 0;
  margin: 15px 0;
  position: fixed;
  z-index: 1;
}

#header .container {
  /* background-color: aqua; */
  justify-content: space-between;
}

#header .logo {
  /* background-color: brown;   */
  margin: auto 0;
  justify-content: center;
  display: flex;
  height: auto;
}

#header .logo h2 {
  color: var(--textcolor);
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  white-space: nowrap;
}

/*---------- menu bar ------------------- */
#header .menu-bar {
  display: flex;
  flex-wrap: nowrap;
}

#header .menu-container {
  display: flex;
  margin: auto 0;
  width: 100%;
  justify-content: end;
}

#header .menu-container li {
  list-style: none;
  position: relative;
}

#header .menu-container a {
  /* background-color: coral; */
  display: inline-block;
  text-decoration: none;
  color: var(--textcolor);
  padding: 15px 10px;
  white-space: nowrap;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s linear;
  border-radius: 3px;
}

#header .menu-container a:hover,
#header .menu-container a:focus,
#header .menu-container li:hover > a {
  color: var(--primary);
}

#header .menu-container .dropdown ul {
  background-color: #ffffff;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 65px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.3s ease-in;
  border-radius: 4px;
  margin: 8px 0;
}

#header .menu-container .dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  top: 40px;
  transition: all 0.3s ease-in;
  padding: 8px 0;
}

#header .menu-container .dropdown li {
  min-width: 200px;
}

#header .menu-container .dropdown li .dmenu-link,
#header .menu-container .dropdown .deepdropdown .ddmenu-link {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  padding-right: 15px;
  margin: 0;
  border-radius: 0;
  font-weight: 500;
  position: relative;
}

#header .menu-container .dropdown li a:hover,
#header .menu-container .dropdown li a:focus {
  background-color: var(--primary);
  color: white;
}

#header .menu-container .deepdropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

#header .menu-container .dropdown .deepdropdown ul {
  position: absolute;
  left: -180px;
  top: 0px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

#header .menu-container .dropdown .deepdropdown:hover ul {
  visibility: visible;
  opacity: 1;
  left: -200px;
}

#header .menu-container .dropdown .deepdropdown ul li {
  min-width: 200px;
  background: #ffffff;
}

#header .menu-container .dropdown .deepdropdown .ddmenu-link {
}

.profile-container {
  margin: auto;
  padding: 0 15px;
}

.profile-container a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  padding: 10px 15px;
  background-color: var(--btnBg);
  color: white;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile-container a:hover {
  text-decoration: none;
  color: var(--background);
  background-color: var(--primaryfouce);
}

/* ---------------------hero------------------------------------ */
.hero {
  width: 100%;
  height: 100vh;
  background: url(assets/img/hero-bg.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero h4 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--textcolor);
}

.hero p {
  font-size: 25px;
  color: var(--headingText);
}

.hero .hero-container > a {
  background-color: var(--primary);
  padding: 15px 20px;
  display: block;
}

.hero .hero-img img {
  width: 80%;
}

.hero .btn-getstarted {
  display: inline-block;
  margin-top: 30px;
  line-height: 0;
  border-radius: 4px;
  background-color: var(--btnBg);
  padding: 15px 40px;
  color: #fff;
  transition: 0.5s;
}

.hero .btn-getstarted span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-getstarted i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-getstarted:hover i {
  transform: translateX(5px);
}

/* ================== Section ================== */

#main section {
  padding: 80px 0px;
  overflow: hidden;
}

#main section .section-header {
  text-align: center;
  margin-bottom: 30px;
}

#main section .section-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--btnBg);
}

#main section .section-header p {
  font-size: 38px;
  font-weight: 700;
  color: var(--textcolor);
}

/* ============== About section ================= */

.about .content {
  background-color: #f6f9ff;
  padding: 40px;
  /* display: flex;
  flex-direction: column; */
}

.about .content h4 {
  font-size: 14px;
  font-weight: 700;
  color: var(--btnBg);
  text-transform: uppercase;
}

.about .content h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--textcolor);
}

.about p {
  color: #747474;
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  background-color: var(--btnBg);
  color: #fff;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  transition: 0.5s;
}

.about .btn-read-more {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.about .content a i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .content a:hover i {
  transform: translateX(5px);
}

/* ============= value ============= */
.value {
  padding-bottom: 25px !important;
}

.value .box {
  height: 100%;
  text-align: center;
  margin-top: 25px;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(146, 146, 150, 0.3);
  transition: 0.3s;
}

.value .box:hover {
  box-shadow: 0px 0px 5px rgba(146, 146, 150, 0.8);
}

.value .box img {
  padding: 10px 50px;
  transition: 0.5s;
  object-fit: cover;
  min-width: 100%;
  height: 60%;
}

.value .box:hover img {
  transform: scale(1.1);
}

.value .box h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--textcolor);
  margin-bottom: 18px;
}

.value .box p {
  color: var(--headingText);
}

/* =============== counts ===================== */

.counts-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

.counts-container .counts-box {
  display: flex;
  align-items: center;
  max-width: 220px;
  margin: 10px 15px;
  padding: 18px 25px;
  box-shadow: 0px 0px 30px rgba(29, 5, 116, 0.08);
}

.counts-container .counts-box i {
  font-size: 45px;
  font-weight: 100;
  padding-right: 20px;
  color: #4154f1;
}

.counts-container .counts-box span {
  font-size: 30px;
  font-weight: 600;
  color: var(--textcolor);
}
.counts-container .counts-box p {
  font-size: 15px;
}

/* ============ features ===================== */

.features img {
  object-fit: cover;
  margin-top: 25px;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 25px;
}

.features-list .f-box {
  padding: 25px 20px;
  box-shadow: 0px 0px 40px rgb(73, 73, 73, 0.1);
}

.features-list .f-box i {
  padding: 5px;
  font-size: 22px;
  font-weight: 900;
  background-color: #ecf3ff;
  border-radius: 4px;
  margin-right: 10px;
}

.features-list .f-box span {
  font-size: 18px;
  font-weight: 700;
  color: var(--textcolor);
}

.features-list .f-box:hover i {
  background-color: var(--primary);
  color: #fff;
}

.features-tabs {
  margin-top: 120px;
}

.features-tabs h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--textcolor);
  margin-bottom: 10px;
}

.features-tabs .nav-pills {
  border-bottom: solid 1px #eee;
}

.features-tabs .nav-pills .navlink {
  display: block;
  font-size: 15px;
  font-weight: 600;
  background: none;
  text-transform: uppercase;
  color: var(--textcolor);
  padding: 12px 10px;
  margin-right: 25px;
  margin-bottom: -2px;
  border: 0;
}

.features-tabs .nav-pills .navlink.active {
  color: var(--primary);
  border-bottom: solid 3px var(--primary);
}

.features-tabs .tab-pane .d-flex {
  align-items: center;
  margin-bottom: 8px;
}
.features-tabs .tab-pane i {
  color: var(--textcolor);
  margin-right: 10px;
  font-size: 25px;
  margin-right: 5px;
}

.features-tabs .tab-pane h4 {
  color: var(--textcolor);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
}

/* -------- features-icons -------------- */
.features-icons h3 {
  color: var(--textcolor);
  font-size: 28px;
  font-weight: 700;
  display: block;
  text-align: center;
}

.features-icons i {
  font-size: 40px;
  color: var(--primary);
  margin-right: 15px;
}

.features-icons h4 {
  color: var(--textcolor);
  font-size: 22px;
  font-weight: 600;
}

.features-icons p {
  color: var(--headingText);
}

/* ------------------- service -------------------- */
.service .service-box {
  padding: 55px 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  border-bottom: solid 4px;
  transition: all 0.3s ease-in;
}

.service .service-box > i {
  font-size: 40px;
  padding: 12px;
  border-radius: 5px;
  background-color: #717ff5;
  color: #fff;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s;
}

.service .service-box h4 {
  color: #444444;
  font-size: 30px;
  font-weight: 700;
}

.service .service-box p {
  font-size: 15px;
  color: var(--headingText);
}

.service .service-box .btn-service {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 20px;
  cursor: pointer;
}

.service .service-box a i {
  font-size: 20px;
  margin-left: 5px;
  line-height: 0;
}

.service .service-box:hover h4,
.service .service-box:hover p,
.service .service-box:hover .btn-service {
  color: #fff !important;
}

.service .service-box:hover i {
  background-color: white !important;
}

/* --------- red box ------------ */
.service .service-box.red-box {
  border-color: #cf5353ee;
}

.service .service-box.red-box > i {
  background-color: #cf5353ee;
}

.service .service-box.red-box .btn-service {
  color: #cf5353ee;
}

.service .service-box.red-box:hover {
  background-color: #cf5353ee;
}

.service .service-box.red-box:hover > i {
  color: #cf5353ee;
}

.service .service-box.red-box .btn-service {
  color: #cf5353ee;
}

/* --------- blue box ------------ */
.service .service-box.blue-box {
  border-color: #485bc4ee;
}

.service .service-box.blue-box > i {
  background-color: #485bc4;
}

.service .service-box.blue-box .btn-service {
  color: #485bc4ee;
}

.service .service-box.blue-box:hover {
  background-color: #485bc4ee;
}

.service .service-box.blue-box:hover > i {
  color: #485bc4ee;
}

.service .service-box.blue-box .btn-service {
  color: #485bc4ee;
}

/* --------- yellow box ------------ */
.service .service-box.yellow-box {
  border-color: #f68c09;
}

.service .service-box.yellow-box > i {
  background-color: #f68c09;
}

.service .service-box.yellow-box .btn-service {
  color: #f68c09;
}

.service .service-box.yellow-box:hover {
  background-color: #f68c09;
}

.service .service-box.yellow-box:hover > i {
  color: #f68c09;
}

.service .service-box.yellow-box .btn-service {
  color: #f68c09;
}

/* --------- green box ------------ */
.service .service-box.green-box {
  border-color: #47e247;
}

.service .service-box.green-box > i {
  background-color: #47e247;
}

.service .service-box.green-box .btn-service {
  color: #47e247;
}

.service .service-box.green-box:hover {
  background-color: #47e247;
}

.service .service-box.green-box:hover > i {
  color: #47e247;
}

.service .service-box.green-box .btn-service {
  color: #47e247;
}

/* --------- blueviolet box ------------ */
.service .service-box.blueviolet-box {
  border-color: #8a2be2;
}

.service .service-box.blueviolet-box > i {
  background-color: #8a2be2;
}

.service .service-box.blueviolet-box .btn-service {
  color: #8a2be2;
}

.service .service-box.blueviolet-box:hover {
  background-color: #8a2be2;
}

.service .service-box.blueviolet-box:hover > i {
  color: #8a2be2;
}

.service .service-box.blueviolet-box .btn-service {
  color: #8a2be2;
}

/* --------- deeppink box ------------ */
.service .service-box.blueviolet-box {
  border-color: #ff1493;
}

.service .service-box.blueviolet-box > i {
  background-color: #ff1493;
}

.service .service-box.blueviolet-box .btn-service {
  color: #ff1493;
}

.service .service-box.blueviolet-box:hover {
  background-color: #ff1493;
}

.service .service-box.blueviolet-box:hover > i {
  color: #ff1493;
}

.service .service-box.blueviolet-box .btn-service {
  color: #ff1493;
}

/* --------- dimgray box ------------ */
.service .service-box.dimgray-box {
  border-color: #696969;
}

.service .service-box.dimgray-box > i {
  background-color: #696969;
}

.service .service-box.dimgray-box .btn-service {
  color: #696969;
}

.service .service-box.dimgray-box:hover {
  background-color: #696969;
}

.service .service-box.dimgray-box:hover > i {
  color: #696969;
}

.service .service-box.dimgray-box .btn-service {
  color: #696969;
}

/* =============== Pricing Plans ============== */
.pricing-box {
  text-align: center;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}

.pricing-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background-color: #44444418;
}

.pricing-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pricing-box .price {
  font-size: 36px;
  font-weight: 600;
  color: #444444;
}

.pricing-box .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing-box .price span {
  color: #bababa;
  font-size: 20px;
  font-weight: 300;
}

.pricing-box img {
  padding: 25px 30px;
}

.pricing-box ul {
  list-style: none;
  padding: 0;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 35px;
}

.pricing-box ul li {
  margin-bottom: 10px;
}

.pricing-box ul li.na {
  text-decoration: line-through;
  color: #afafb3;
}

.pricing-box .btn-buy {
  padding: 8px 25px;
  color: #4154f1;
  border: solid #4154f1 2px;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  /* font-weight: 500; */
}

.pricing-box .btn-buy:hover {
  background-color: #4154f1;
  color: #fff;
}

.pricing-box .features {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  background-color: #4154f1;
  color: #fff;
  font-size: 14px;
  z-index: 1;
  padding: 1px 0 3px 0;
}



